<!DOCTYPE html>
<html lang="en">
  <head>
	<% include partials/page/head.ejs %>
  </head>
  <body>
	<% include partials/page/header.ejs %>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">
          
          <div class="alert alert-info">Diese Seite befindet sich in Arbeit!</div>

  				<h1><%=title %></h1>

          <p>Deine E-Mail Adresse: <%=mail %></p>

  		</div>
		</div>
	</div>


	<% include partials/page/footer.ejs %>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>